<link rel="stylesheet" href="/stylesheets/planner.css" />

<h1>My Planner</h1>
<table>
  <thead>
    <tr>
      <td style="background-color:rgb(255, 241, 189);"></td>
      <td class="td1"> Monday</td>
      <td class="td1">Tuesday</td>
      <td class="td1">Wednesday</td>
      <td class="td1">Thursday</td>
      <td class="td1">Friday</td>
      <td class="td1">Saturday</td>
      <td class="td1">Sunday</td>
    </tr>
  </thead>
  <tr>
    <td style="background-color:rgb(255, 241, 189);"></td>
    <td class="td2">{{calendar.monday.0.name}}
      <form action="/planner/{{_id}}" method="post">
        <button type="submit">X</button>
      </form></td>
    <td class="td2">{{calendar.tuesday.0.name}}<form action="/planner/{{_id}}" method="post">
    <button type="submit">X</button>
</form></td>
    <td class="td2">{{calendar.wednesday.0.name}}<form action="/planner/{{_id}}" method="post">
    <button type="submit">X</button>
</form></td>
    <td class="td2">{{calendar.thursday.0.name}}<form action="/planner/{{_id}}" method="post">
    <button type="submit">X</button>
</form></td>
    <td class="td2">{{calendar.friday.0.name}}<form action="/planner/{{_id}}" method="post">
    <button type="submit">X</button>
</form></td>
    <td class="td2">{{calendar.saturday.0.name}}<form action="/planner/{{_id}}" method="post">
    <button type="submit">X</button>
</form></td>
    <td class="td2">{{calendar.sunday.0.name}}<form action="/planner/{{_id}}" method="post">
    <button type="submit">X</button>
</form></td>
  </tr>
  <tr>
    <td style="background-color:rgb(255, 241, 189);"></td>
    <td class="td2">{{calendar.monday.1.name}}<form action="/planner/{{_id}}" method="post">
    <button type="submit">X</button>
</form></td>
    <td class="td2">{{calendar.tuesday.1.name}}<form action="/planner/{{_id}}" method="post">
    <button type="submit">X</button>
</form></td>
    <td class="td2">{{calendar.wednesday.1.name}}<form action="/planner/{{_id}}" method="post">
    <button type="submit">X</button>
</form></td>
    <td class="td2">{{calendar.thursday.1.name}}<form action="/planner/{{_id}}" method="post">
    <button type="submit">X</button>
</form></td>
    <td class="td2">{{calendar.friday.1.name}}<form action="/planner/{{_id}}" method="post">
    <button type="submit">X</button>
</form></td>
    <td class="td2">{{calendar.saturday.1.name}}<form action="/planner/{{_id}}" method="post">
    <button type="submit">X</button>
</form></td>
    <td class="td2">{{calendar.sunday.1.name}}<form action="/planner/{{_id}}" method="post">
    <button type="submit">X</button>
</form></td>
  </tr>
  <tr>
    <td style="background-color:rgb(255, 241, 189);"></td>
    <td class="td2">{{calendar.monday.2.name}}<form action="/planner/{{_id}}" method="post">
    <button type="submit">X</button>
</form></td>
    <td class="td2">{{calendar.tuesday.2.name}}<form action="/planner/{{_id}}" method="post">
    <button type="submit">X</button>
</form></td>
    <td class="td2">{{calendar.wednesday.2.name}}<form action="/planner/{{_id}}" method="post">
    <button type="submit">X</button>
</form></td>
    <td class="td2">{{calendar.thursday.2.name}}<form action="/planner/{{_id}}" method="post">
    <button type="submit">X</button>
</form></td>
    <td class="td2">{{calendar.friday.2.name}}<form action="/planner/{{_id}}" method="post">
    <button type="submit">X</button>
</form></td>
    <td class="td2">{{calendar.saturday.2.name}}<form action="/planner/{{_id}}" method="post">
    <button type="submit">X</button>
</form></td>
    <td class="td2">{{calendar.sunday.2.name}}<form action="/planner/{{_id}}" method="post">
    <button type="submit">X</button>
</form></td>
  </tr>

</table>