<link rel="stylesheet" href="/stylesheets/profile.css">

 <div class="card">
    <img class="card-img-top" src={{user.image}} alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{user.username}}</h5>
      <p class="card-text">{{user.bio}}</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
{{!-- <img class="profile-photo" src={{user.image}} alt="Ratatouille">
<h3>Name: {{user.username}}</h3>
<h3>Email: {{user.email}}</h3>
<h3>Bio: {{user.bio}}</h3>
{{!-- <h3>Favorites <br>
{{user.username.favoriteRecipes}}</h3> --}}

<a href="/edit-profile/{{user._id}}">Edit profile</a> --}}