<h1>Recipe details</h1>
{{#each recipes}}
<img src="{{image}}" alt="">
<h1>{{name}}</h1>
<p>{{duration}}</p>
<p>{{ingredients}}</p>
<p>{{preparation}}</p>
{{/each}}

<button><a href="/recipes">Recipes</a></button>