<link rel="stylesheet" href="/stylesheets/recipes.css">

{{!-- NAV BAR HERE  --}}


    <nav class="navbar navbar-expand-lg" style="background-color:rgb(20, 99, 86)">
      <div class="container-fluid">
        <a class="navbar-brand" style="color:rgb(255, 241, 189); margin-right: 70vw;" href="/auth/signup">ReMeals</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/planner">My planner
              </a>
            </li>
           
            <li class="nav-item">
              <a class="nav-link" href="/profile">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/auth/logout">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

{{!-- END OF NAV BAR --}}


<div class="first-container">
<h1>Recipes</h1>
<button class="button"><a href="/create-recipe">Create recipe</a></button>
</div>


<div class="flexdiv">
{{#each recipes}}
<div class="card" style="width: 18rem; ">
  <img src="{{image}}" class="card-img-top" alt="..." style="width: 18rem; height:13rem">
  <div class="card-body">
    <h5 class="card-title">{{name}}</h5>
    <p class="card-text">{{duration}}</p>
  </div>
  <div class="card-body">
    <a href="/recipe-details/{{_id}}" class="card-link">See more</a>
    <div class="dropdown">
	 
    <form action="/planner/{{_id}}" method="post">
    <select name="day">
		<option value="monday">Monday</option>
		<option value="tuesday">Tuesday</option>
		<option value="wednesday">Wednesday</option>
    <option value="thursday">Thursday</option>
    <option value="friday">Friday</option>
    <option value="saturday" >Saturday</option>
    <option value="sunday" >Sunday</option>
    </select>
  <button class ="button-2"type="submit">Add to planner</button>
  
    </form>
	</div>
  </div>
</div>
{{/each}}
</div>